In [ ]:
{
  key1:value1,
  key2:value2,
  key3:value3,
  ...
}

# always start and with { }
# key and values 
# : seperator between key and value
# , seprator between key:value pair
# key data types always should be int or string
# value data types can be any types

In [39]:
#    0       1      2   3      4
a=['Imran','Wali',30,'M.Phil',['AI',"ML","cloud computing"]]
# we will replace indexes with keys
a[3]

'M.Phil'

In [40]:
data = {
    'name':'Imran',
    'fname':'Wali',
    'age':39,
    'qualification':'M.Phil',
    'skills':['Ms Office',"T-24",'MIS'],
    0:"Pakistan"
}
data

{'name': 'Imran',
 'fname': 'Wali',
 'age': 39,
 'qualification': 'M.Phil',
 'skills': ['Ms Office', 'T-24', 'MIS'],
 0: 'Pakistan'}

## How to access value from dictionary
* dictname['key']

In [42]:
data = {
    'name':'Imran',
    'fname':'Wali',
    'age':39,
    'qualification':'M.Phil',
    'skills':['Ms Office',"T-24",'MIS'],
    0:"Pakistan"
}
print(type(data))
data

<class 'dict'>

{'name': 'Imran',
 'fname': 'Wali',
 'age': 39,
 'qualification': 'M.Phil',
 'skills': ['Ms Office', 'T-24', 'MIS'],
 0: 'Pakistan'}

In [44]:
data = {
    'name':'Imran',
    'fname':'Wali',
    'age':39,
    'qualification':'M.Phil',
    'skills':['Ms Office',"T-24",'MIS'],
    0:"Pakistan"
}
data['name']

'Imran'

In [45]:
data[0]

'Pakistan'

In [46]:
data = {
    'name':'Imran',
    'fname':'Wali',
    'age':39,
    'qualification':'M.Phil',
    'skills':['Ms Office',"T-24",'MIS'],
    0:"Pakistan"
}

In [47]:
import pandas as pd

In [48]:
import pandas as pd

df = pd.DataFrame(data)
df

    name fname  age qualification     skills         0
0  Imran  Wali   39        M.Phil  Ms Office  Pakistan
1  Imran  Wali   39        M.Phil       T-24  Pakistan
2  Imran  Wali   39        M.Phil        MIS  Pakistan

In [49]:
data = {}

data['name'] = "Muhammad Imran" # add key value1
data['fname'] = "Wali" # add key value 2
data['course'] = "MIS" # 
data['name'] = "Muhammad Imran wali"
data['name'] = data['name']+" AI student"

data

{'name': 'Muhammad Imran wali AI student', 'fname': 'Wali', 'course': 'MIS'}

In [50]:
data['course']

'MIS'

In [52]:
dir(data)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [53]:
data = {}

data['name'] = "Muhammad Imran" # add key value1
data['fname'] = "Wali" # add key value 2
data['course'] = "MIS" # 
data['name'] = "Muhammad Imran wali"
data['name'] = data['name']+" AI student"

print(data)
data.clear() # clear/empty but oject exist 
print(data)

{'name': 'Muhammad Imran wali AI student', 'fname': 'Wali', 'course': 'MIS'}
{}

In [54]:
data = {}

data['name'] = "Muhammad Imran" # add key value1
data['fname'] = "Wali" # add key value 2
data['course'] = "MIS" # 
data['name'] = "Muhammad Imran wali"
data['name'] = data['name']+" AI student"

print(data)
del data # delete object
print(data)

{'name': 'Muhammad Imran wali AI student', 'fname': 'Wali', 'course': 'MIS'}

NameError: name 'data' is not defined

In [55]:
data = {}

data['name'] = "Muhammad Imran" # add key value1
data['fname'] = "Wali" # add key value 2
data['course'] = "MIS" # 
data['name'] = "Muhammad Imran wali"
data['name'] = data['name']+" AI student"

print(data)

{'name': 'Muhammad Imran wali AI student', 'fname': 'Wali', 'course': 'MIS'}

### from keys

In [64]:
keys = ['id','name','fname','course','timing','address']

dict.fromkeys(keys)

{'id': None,
 'name': None,
 'fname': None,
 'course': None,
 'timing': None,
 'address': None}

In [65]:
keys = ['id','name','fname']


dict.fromkeys(keys,'empty')

{'id': 'empty', 'name': 'empty', 'fname': 'empty'}

### get

In [66]:
data = {
    'name':'Imran',
    'fname':'Wali',
    'age':39,
    'qualification':'M.Phil',
    'skills':['Ms Office',"T-24",'MIS'],
    0:"Pakistan"
}
data('contact')

TypeError: 'dict' object is not callable

In [67]:
data = {
    'name':'Imran',
    'fname':'Wali',
    'age':39,
    'qualification':'M.Phil',
    'skills':['Ms Office',"T-24",'MIS'],
    0:"Pakistan"
}
data.get('name')

'Imran'

In [ ]:
data.get('contact')

In [69]:
data.get('contact',"not available")

'not available'

In [70]:
data

{'name': 'Imran',
 'fname': 'Wali',
 'age': 39,
 'qualification': 'M.Phil',
 'skills': ['Ms Office', 'T-24', 'MIS'],
 0: 'Pakistan'}

# item, keys, values

In [71]:
data = {
    'name':'Imran',
    'fname':'Wali',
    'age':39,
    'qualification':'M.Phil',
    'skills':['Ms Office',"T-24",'MIS'],
    0:"Pakistan"
}
data

{'name': 'Imran',
 'fname': 'Wali',
 'age': 39,
 'qualification': 'M.Phil',
 'skills': ['Ms Office', 'T-24', 'MIS'],
 0: 'Pakistan'}

In [72]:
data.items()

dict_items([('name', 'Imran'), ('fname', 'Wali'), ('age', 39), ('qualification', 'M.Phil'), ('skills', ['Ms Office', 'T-24', 'MIS']), (0, 'Pakistan')])

In [73]:
data.keys()

dict_keys(['name', 'fname', 'age', 'qualification', 'skills', 0])

In [74]:
data.values()

dict_values(['Imran', 'Wali', 39, 'M.Phil', ['Ms Office', 'T-24', 'MIS'], 'Pakistan'])

In [75]:
for v in data.values():
    print(v)

Imran
Wali
39
M.Phil
['Ms Office', 'T-24', 'MIS']
Pakistan

In [76]:
for k in data.keys():
    print(k)

name
fname
age
qualification
skills
0

In [77]:
k = "Pakistan"
for k in ['name','age']:
    print(data[k])
    
    
print(k)

Imran
39
age

In [78]:
for i in data.items():
    print(i)

('name', 'Imran')
('fname', 'Wali')
('age', 39)
('qualification', 'M.Phil')
('skills', ['Ms Office', 'T-24', 'MIS'])
(0, 'Pakistan')

In [79]:
for k,v in data.items():
    print(k,v)

name Imran
fname Wali
age 39
qualification M.Phil
skills ['Ms Office', 'T-24', 'MIS']
0 Pakistan

In [80]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [85]:
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [90]:
#for 10 in []:
 #   print(10)
#1
#2
#3
#4
#5
#6
#7
#8
#9
#10

In [87]:
a = print('Pakistan')# non-return function
print(a)

Pakistan
None

In [88]:
a = len('Pakistan')# Return function
print(a)

8

In [89]:
a = type('Pakistan')# Return function
print(a)

<class 'str'>

### pop

In [91]:
data = {
    'name':'Imran',
    'fname':'Wali',
    'age':39,
    'qualification':'M.Phil',
    'skills':['Ms Office',"T-24",'MIS'],
    0:"Pakistan"
}
del data['name']
data

{'fname': 'Wali',
 'age': 39,
 'qualification': 'M.Phil',
 'skills': ['Ms Office', 'T-24', 'MIS'],
 0: 'Pakistan'}

In [93]:
data = {
    'name':'Imran',
    'fname':'Wali',
    'age':39,
    'qualification':'M.Phil',
    'skills':['Ms Office',"T-24",'MIS'],
    0:"Pakistan"
}
del data['name']
print(a)
data

<class 'str'>

{'fname': 'Wali',
 'age': 39,
 'qualification': 'M.Phil',
 'skills': ['Ms Office', 'T-24', 'MIS'],
 0: 'Pakistan'}

In [94]:
data = {
    'name':'Imran',
    'fname':'Wali',
    'age':39,
    'qualification':'M.Phil',
    'skills':['Ms Office',"T-24",'MIS'],
    0:"Pakistan"
}
a = data.pop("name")# return function
print(a)
print(data)

Imran
{'fname': 'Wali', 'age': 39, 'qualification': 'M.Phil', 'skills': ['Ms Office', 'T-24', 'MIS'], 0: 'Pakistan'}

In [95]:
completed_list = []

data = {
    'name':'Imran',
    'fname':'Wali',
    'age':39,
    'qualification':'M.Phil',
    'skills':['Ms Office',"T-24",'MIS'],
    0:"Pakistan"
}

a = data.pop("name")# return function
b = data.pop("age")

completed_list.append(a)
completed_list.append(b)
print(a)
print(data)
print(completed_list)

Imran
{'fname': 'Wali', 'qualification': 'M.Phil', 'skills': ['Ms Office', 'T-24', 'MIS'], 0: 'Pakistan'}
['Imran', 39]

In [96]:
data = {
    'name':'Imran',
    'fname':'Wali',
    'age':39,
    'qualification':'M.Phil',
    'skills':['Ms Office',"T-24",'MIS'],
    0:"Pakistan"
}
a = data.popitem()# return function
print(a)
print(data)

(0, 'Pakistan')
{'name': 'Imran', 'fname': 'Wali', 'age': 39, 'qualification': 'M.Phil', 'skills': ['Ms Office', 'T-24', 'MIS']}