In [2]:
#less or Tapple
#muteable(can be change-(like list)) mute

List and tuple
* list mutable []
* Tuple imutable()

###List(index)
extract sigle value from list or tuple
###list(start:end)
extract multiple value from list or tuple
###list(start:end:seq)
extract single vaule from list or tuple define sequance

* Methods and attributes

In [67]:
name = "Muhammad Imran Wali"

In [68]:
#>           0     1       2      3            4       5
names = ["Qasim","Nasir","Ali","Imran Wali","Hamza","Mansoor"]
# >        -6      -5     -4      -3           -2      -1

#List(index)
#list(start:end)
#list(start:end:seq)

###List(index)

extract sigle value from list or tuple

In [10]:
#>           0     1       2      3            4       5
names = ["Qasim","Nasir","Ali","Imran Wali","Hamza","Mansoor"]
# >        -6      -5     -4      -3           -2      -1

print(names)
print(names[3]) #extrac value from positive index
print(names[-3])#extrac value from Nagative index

['Qasim', 'Nasir', 'Ali', 'Imran Wali', 'Hamza', 'Mansoor']
Imran Wali
Imran Wali

In [13]:
#>           0     1       2      3            4       5
names = ["Qasim","Nasir","Ali","Imran Wali","Hamza","Mansoor"]
# >        -6      -5     -4      -3           -2      -1

print("Before", names)
names[0] = "Muhammad Qasim" #for value change by ==
print("After", names)

Before ['Qasim', 'Nasir', 'Ali', 'Imran Wali', 'Hamza', 'Mansoor']
After ['Muhammad Qasim', 'Nasir', 'Ali', 'Imran Wali', 'Hamza', 'Mansoor']

## list[start:end]

## Slicicng (extract multple value in squance

extract multiple value from list or tuple(start exlude,end excluede on minus)

In [19]:
#>           0     1       2      3            4       5
names = ["Qasim","Nasir","Ali","Imran Wali","Hamza","Mansoor"]
# >        -6      -5     -4      -3           -2      -1

print(names[1:4]) # Start enclude , end exclude index -1
print(names[1:5]) #
print(names[1:6]) #

['Nasir', 'Ali', 'Imran Wali']
['Nasir', 'Ali', 'Imran Wali', 'Hamza']
['Nasir', 'Ali', 'Imran Wali', 'Hamza', 'Mansoor']

### list(start:end:seq)
extract single vaule from list or tuple define sequance
start = enclude
end = exvlude or index 1
sequance =  steps (defulat value of step 1
if Step = 1 (slicing left to right)

if Step = -1 (slicing right to left)

range (start, end , step)

In [21]:
numbers = list(range(1,21)) # by using range 
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [25]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] # by using manual 
print(numbers)
print(numbers[7:17])
#[Start : end :step]
print(numbers[8::])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [26]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] # by using manual 
print(numbers)
#[Start : end :step]
print(numbers[:16])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [27]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] # by using manual 
print(numbers)
#[Start : end :step]
print(numbers[::2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [28]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] # by using manual 
print(numbers)
#[Start : end :step]
print(numbers[::3])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 4, 7, 10, 13, 16, 19]

In [30]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] # by using manual 
print(numbers)
#[Start : end :step]
print(numbers[::5])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 6, 11, 16]

In [ ]:
# if Step = 1 (slicing left to right)
# if Step = -1 (slicing right to left)

In [32]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] # by using manual 
print(numbers)
#[Start : end :step]
print(numbers[::2])#(slicing right to left)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [33]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] # by using manual 
print(numbers)
#[Start : end :step]
print(numbers[::-1])#(slicing left to right)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [40]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] # by using manual 
print(numbers)
#[Start : end :step]
print(numbers[0:10:-1])#(slicing right to left)
print(numbers[::-1])#(slicing left to right)
print(numbers[-11:-21:-1])#(slicing left to right)
print(numbers[20:-21:-1])
print(numbers[9:-21:-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [46]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] # by using manual 
print(numbers[::-1])
print(numbers[16:13:-1]) # 17,16,15

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[17, 16, 15]

In [49]:
numbers = [1, 2, 3, 4, 5] # by using manual 
print(numbers)
print(numbers[::-1])
print(numbers[3:0:-1]) # 4,3,2
print(numbers[-2:-5:-1]) # 4,3,2

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[4, 3, 2]
[4, 3, 2]

In [55]:
#Name = Muhammad Imran Wali = AIC-187118

In [58]:
l1 = ['1','2','4']
l2=l3=l4 = l1

print(l1)
print(l2)
print(l3)
print(l4)

['1', '2', '4']
['1', '2', '4']
['1', '2', '4']
['1', '2', '4']

In [53]:
l1 = [1,2,3,]
l2 = [4,5,6]

l1.extend(l2)

print(l1)
print(l2)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

In [59]:
l1 = [1,2,3,]
l2 = [4,5,6]

l1.append(l2)

print(l1)
print(l2)

[1, 2, 3, [4, 5, 6]]
[4, 5, 6]

In [65]:
names.index("Imran Wali")

3

In [64]:
names

['Qasim', 'Nasir', 'Ali', 'Imran Wali', 'Hamza', 'Mansoor']

In [66]:
print(names)
names.append("Asif")# add element in the list at last
print(names)

['Qasim', 'Nasir', 'Ali', 'Imran Wali', 'Hamza', 'Mansoor']
['Qasim', 'Nasir', 'Ali', 'Imran Wali', 'Hamza', 'Mansoor', 'Asif']