# how to assign string values in variable

In [1]:
name = "Muhammad Imran Wali" # 1
print(name,type(name))

Muhammad Imran Wali <class 'str'>

In [5]:
#we have to define space characters (\n \t )
data = 'name:\t\tImran Wali\nfather Name:\tWali Muhammad\nBatch:\t\t 36-37'
print(data)

name:		Imran Wali
father Name:	Wali Muhammad
Batch:		 36-37

In [6]:
# if you are using single quote in start and end 
# or you want to use in middle of the text then you place (\) 
# before middle single quote
data = 'name:\t\tImran Wali\nfather Name:\tWali Muhammad\nBatch:\t\t 36-37'
print(data)

name:		Imran Wali
father Name:	Wali Muhammad
Batch:		 36-37

In [9]:
data = "PIAIC \" Mera \" Pakistan zinda bad"
print(data)

PIAIC " Mera " Pakistan zinda bad

In [11]:
name = "Muhammad \"Imran \"Wali" # 1
print(name,type(name))

Muhammad "Imran "Wali <class 'str'>

In [12]:
# triple single quote or triple double quote > define multi line string
data = """
Name:             Muhammad Imran Wali
Father's Name:    Wali Muhammad
Batch:            36-37
"""
data # if you write in last line = out put raw text

"\nName:             Muhammad Imran Wali\nFather's Name:    Wali Muhammad\nBatch:            36-37\n"

In [13]:
data = """
Name:             Muhammad Imran Wali
Father's Name:    Wali Muhammad
Batch:            36-37
"""
print(data)

Name:             Muhammad Imran Wali
Father's Name:    Wali Muhammad
Batch:            36-37

In [14]:
name

'Muhammad "Imran "Wali'

In [15]:
print(data)

Name:             Muhammad Imran Wali
Father's Name:    Wali Muhammad
Batch:            36-37

# How to apply varialbe name rules

In [19]:
1name = "Imran Wali"

SyntaxError: invalid syntax (Temp/ipykernel_10708/498365159.py, line 1)

In [20]:
_2name = "Imran Wali"
_2name

'Imran Wali'

In [21]:
father_name2 = "Wali Muhammad"
father_name2

'Wali Muhammad'

In [22]:
father_Name2 = "Wali Muhammad"
father_Name2

'Wali Muhammad'

In [23]:
father@Name2 = "Wali Muhammad"
father@Name2

SyntaxError: cannot assign to operator (Temp/ipykernel_10708/584989543.py, line 1)

In [24]:
name = "Muhammad Imran Wali"
print(Name) # casesensitive "A" not equal "a"

NameError: name 'Name' is not defined

In [25]:
"a"
'b'
'c'# jupyter cell always return last line

'c'

In [26]:
"a"
'b'
"d" # jupyter cell always return last line

'd'

# Concatination (combine two or more variables and values) | Text formation

In [31]:
name = "Muhammad Imran Wali"
father_name = "Wali Muhammad"
education = "M.Phil"
designation = "Team Leader MIS SBP & Capital Marketing Unit"
organization = "Meezan bank"

print(name, father_name, education, designation,organization)

Muhammad Imran Wali Wali Muhammad M.Phil Team Leader MIS SBP & Capital Marketing Unit Meezan bank

In [29]:
name = "Muhammad Imran Wali"
father_name = "Wali Muhammad"
education = "M.Phil"
designation = "Team Leader MIS SBP & Capital Marketing Unit"
organization = "Meezan bank" 

print(name, father_name, education, designation, organization, sep="\n")

Muhammad Imran Wali
Wali Muhammad
M.Phil
Team Leader MIS SBP & Capital Marketing Unit
Meezan bank

In [32]:
print('a')
print('b')

a
b

In [33]:
name = "Muhammad Imran Wali"
father_name = "Wali Muhammad"
education = "M.Phil"
designation = "Team Leader MIS SBP & Capital Marketing Unit"
height = 6  #

# + operator on string join two string variable
result = "PIAIC Teacher Card\n Name: " + name +"\n Father's Name: "+father_name+"\n Education: "+education+"\n Designation: "+designation+"\n Height:"+str(height)

print(result)

PIAIC Teacher Card
 Name: Muhammad Imran Wali
 Father's Name: Wali Muhammad
 Education: M.Phil
 Designation: Team Leader MIS SBP & Capital Marketing Unit
 Height:6

In [35]:
name = "Muhammad Imran Wali"
father_name = "Wali Muhammad"
education = "M.Phil"
designation = "Team Leader MIS SBP & Capital Marketing Unit"
height = 6  #

data = """
PIAIC Teacher Card
 Name: {4}
 Father's Name: {0}
 Education: {2}
 Designation: {3}
 Height:{1}
""".format(father_name,height,education,designation,name) # now we don't need to type cast
#               0       1       2           3        4

print(data)

PIAIC Teacher Card
 Name: Muhammad Imran Wali
 Father's Name: Wali Muhammad
 Education: M.Phil
 Designation: Team Leader MIS SBP & Capital Marketing Unit
 Height:6

In [78]:
name = "Muhammad Imran Wali"
father_name = "Wali Muhammad"
education = "M.Phil"
designation = "Team Leader MIS SBP & Capital Marketing Unit"
height = 6  #

data = f"""
PIAIC Teacher Card
 Name: {name}
 Father's Name: {father_name}
 Education: {education}
 Designation: {designation}
 Height:{height}
"""


print(data)

PIAIC Teacher Card
 Name: Muhammad Imran Wali
 Father's Name: Wali Muhammad
 Education: M.Phil
 Designation: Team Leader MIS SBP & Capital Marketing Unit
 Height:6

In [37]:
name

'Muhammad Imran Wali'

In [38]:
 0 1 2 3
(a,b,c,e)

SyntaxError: invalid syntax (Temp/ipykernel_10708/844277270.py, line 1)

In [39]:
a = "Pakistan"
b = 1000

a + b

TypeError: can only concatenate str (not "int") to str

In [41]:
float('100')

100.0

In [42]:
int('100')

100

In [43]:
a = "Pakistan"
b = 2000

a + str(b)

'Pakistan2000'

In [44]:
bac = input("Enter any value: ") #always return text value
print(bac)

Enter any value: Karachi is the biggest city in Pakistan
Karachi is the biggest city in Pakistan

In [45]:
name = input("Enter Your Name:")
father_name = input("Father's Name")
education = input("Education")
designation = input("Your Designation")
height = float(input("Your Height"))  #

data = f"""
PIAIC Teacher Card
 Name: {name}
 Father's Name: {father_name}
 Education: {education}
 Designation: {designation}
 Height:{height}
"""


print(data)

Enter Your Name:Muhammad Imran Wali
Father's NameWali Muhammad
EducationM Phil
Your DesignationTeam Lead MIS
Your Height6

PIAIC Teacher Card
 Name: Muhammad Imran Wali
 Father's Name: Wali Muhammad
 Education: M Phil
 Designation: Team Lead MIS
 Height:6.0

# String Method

In [46]:
print(data)

PIAIC Teacher Card
 Name: Muhammad Imran Wali
 Father's Name: Wali Muhammad
 Education: M Phil
 Designation: Team Lead MIS
 Height:6.0

In [49]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [80]:
name = "Muhammad Imran Wali"
name.capitalize() #Converts the first character of the string to a capital (uppercase) letter

'Muhammad imran wali'

In [81]:
name = "Muhammad Imran Wali"
name.casefold() #Implements caseless string matching

'muhammad imran wali'

In [83]:
name = "Muhammad Imran Wali"
name.center(40) #Pad the string with the specified character.

'          Muhammad Imran Wali           '

In [84]:
name = "Muhammad Imran Wali"
name.count("imran") #Returns the number of occurrences of a substring in the string.

0

In [85]:
name = "Muhammad Imran Wali"
name.count("Imran") #Returns the number of occurrences of a substring in the string.

1

In [86]:
name = "Muhammad Imran Wali"
name.count("m") #Returns the number of occurrences of a substring in the string.

3

In [87]:
name = "Muhammad Imran Wali"
name.encode("utf-8") #Encodes strings with the specified encoded scheme

b'Muhammad Imran Wali'

In [88]:
name = "Muhammad Imran Wali"
name.encode("utf-16") #Encodes strings with the specified encoded scheme

b'\xff\xfeM\x00u\x00h\x00a\x00m\x00m\x00a\x00d\x00 \x00I\x00m\x00r\x00a\x00n\x00 \x00W\x00a\x00l\x00i\x00'

In [90]:
name = "Muhammad Imran Wali"
name.startswith("im")

False

In [93]:
data = """
name:\t Muhaammad Imran Wali
father:\t Wali muhammad
Edu:\t M-phil
"""
print(data)

name:	 Muhaammad Imran Wali
father:	 Wali muhammad
Edu:	 M-phil

In [95]:
print(data.expandtabs(10))

name:      Muhaammad Imran Wali
father:    Wali muhammad
Edu:       M-phil

In [96]:
name = "Muhammad Imran Wali"
name.find("Im")

9

In [97]:
name = "Muhammad Imran Wali"
print(name.find("ha"))
print(name.find("a"))
print(name.find("a"))
print(name.find("a",6))
print(name.find("i",8))

2
3
3
6
18

In [101]:
name = "Muhammad Imran Wali"
name.format()

'Muhammad Imran Wali'

In [102]:
name = "Muhammad Imran Wali"
name.format_map("Im")

'Muhammad Imran Wali'

In [103]:
name = "Muhammad Imran Wali"
name.index("Im")

9

In [110]:
name = "Muhammad Imran Wali"
name.isalnum()

False

In [112]:
name = "Muhammad Imran Wali"
name.isascii()

True

In [115]:
name = "Muhammad Imran Wali"
name.isdecimal()

False

In [116]:
name = "10007"
name.isdecimal()

True

In [117]:
name = "10007"
name.isnumeric()

True

In [118]:
name = "Muhammad Imran Wali"
name.islower()

False

In [119]:
name = "muhammad imran wali"
name.islower()

True

In [120]:
name = "muhammad imran wali"
name.isupper()

False

In [121]:
name = "MUHAMMAD IMRAN WALI"
name.isupper()

True

In [128]:
name = "MUHAMMAD IMRAN WALI"
name.replace

In [129]:
name = "muhammad imran wali"
name.upper()

'MUHAMMAD IMRAN WALI'

In [130]:
name = "MUHAMMAD IMRAN WALI"
name.lower()

'muhammad imran wali'